@import url(/public/css/menu.css);
@import url(/public/css/sectionTresCajaDos.css);

/*---------------------------------------Disenio main pagina inicial---------------------------------------------------------*/
main{
    flex-basis: 100%; 
    height: 3310px;  
    margin: .5px auto; 
    padding: .1px; 
    position: relative;
    background-color: rgb(239, 236, 236);
}
/*-----------------------------SECTION-01 Design imagen---------------------*/
#imagenes{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border: .5px solid gray; 
}
/*--------------------------SECTION-02 Design menu sticky----------------------*/
#sectionDos{
    position: sticky;
    z-index: 2;
    top: 105px;
}
section nav{
    width: 99.8%;
    height: 42px;
    margin: .5px;
    padding: 1px;
    border: .3px solid transparent;
    background-color: rgb(239, 236, 236); 
}
/*SECTION-02 Design ul(li) */
section nav ul{
    width: auto;
    height: 40px;
    margin:  2px auto;
    display: flex; 
    flex-flow: column wrap;   
    border: .5px solid rgb(211, 211, 211);
    background-color: white;
    box-shadow: 1px 2px rgb(151, 151, 151),
    .5px 1px rgb(118, 117, 117);  
}
section nav ul li{
    flex: 1 1 50%;
    margin: .1px;
    padding: .5px;
    box-sizing: border-box;
    background-color: #FADBB6;
    border: .3px solid #E1D2B5; 
   clip-path: polygon(20% 0%,100% 0%,80% 100%,0% 100%)
}
section nav ul li#acompanamiento{
    clip-path: polygon(15% 0%,100% 0%,85% 100%,0% 100%)
}
section nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: sub;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-shadow: 1px 1px gray;
}
/*--------------------------SECTION-03 Design main -------------------------*/
#sectionTres{
    width: 100%;
    margin: 1px;
    display: flex;
    flex-flow: row wrap;
}
/*SECTION-03 Design section div- boxDos*/
section div#div-01{
    flex: 2 2 68%;
    height: 2535px;
    padding: .5px;
    z-index: 1;
    border: .5px solid transparent;
    background-color: rgb(239, 236, 236);
    box-shadow: 1px 2px rgb(151, 151, 151),
    .5px 1px rgb(118, 117, 117);  
}
/*SECTION-03: section div Design sectionTresOne*/
.sectionTresOne{
    width: 99.6%;
    height: 630px;
    padding: .1px;
    border: .5px solid transparent;
}
/*SECTIONTRESONE Design tituloDos--boxUno*/
.tituloDos{
    width: auto;
    height: 50px;
    clip-path: polygon(5% 0%,100% 0%,95% 100%,0% 100%);
    background-color: white;
    border: .2px solid rgb(211, 211, 211);
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px gray; 
 }
 /*SECTIONTRESONE Design boxUno*/
.boxUno{
    width: 30%;
    height: 280px;
    margin: .5px;
    padding: .5px;
    display: inline-block;
    clip-path: circle(45%);
    border: 1px solid rgb(105, 105, 105);
    box-shadow: 1px 1px rgb(82, 82, 82);
}
 /*SECTIONTRESONE Design sectionImagen*/
 /*SECTIONTRESONE-01*/
#sectionImagen{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaSencilla1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenUno{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaSencilla2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenDos{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaSencilla3.jpg);
    background-repeat: no-repeat;
    background-position: 0px -25px;
    background-size: cover;
}
#sectionImagenTres{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaEspecial4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 /*SECTIONTRESONE-02*/
 #sectionImagenCuatro{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaEspecial1.jpg);
    background-repeat: no-repeat;
    background-position: 20px 0px;
    background-size: cover;
}
#sectionImagenCinco{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaEspecial2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenSeis{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaEspecial3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenSiete{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaEspecial6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenOcho{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaEspecial5.jpg);
    background-repeat: no-repeat;
    background-position: -5px 0px;
    background-size: cover;
}
/*SECTIONTRESONE-03*/
#sectionImagenNueve{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaEspecial7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenDiez{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaEspecial8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenOnce{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaSencilla9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenDoce{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzasSencilla6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenTrece{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PizzaSencilla4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*SECTIONTRESONE-03*/
#sectionImagenCatorce{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/Lasana.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenQuince{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PastaCamarones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenDieciseis{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PastaCarbonada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#sectionImagenDiecisiete{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/PastaVegetariana.jpg);
    background-repeat: no-repeat;
    background-position: -20px 0px ;
    background-size: cover;
}
#sectionImagenDieciocho{
    width: auto;
    height: 120px;
    border: .2px solid grey;
    background-image: url(/public/imagenes/principal/Risoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*SECTIONTRESONE Design sectionGrid -- sectionGrid div*/
.sectionGrid{
    width: auto;
    height: 150px;
    border: .2px solid transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: .1px;
}
.sectionGrid div{
    height: auto;
    background-color: white;
    border: .1px solid white;
    position: relative;
}
/*SECTIONTRESONE sectionGrid div- select*/
.sectionGrid div select{
    position: absolute;
    top: 10px;
    left: 86px;
    text-align: center;
    border: 2px solid #FADBB6;
}
/*SECTIONTRESONE sectionGrid -- sectionGrid div.gridUno*/
.sectionGrid div.gridUno{
    padding-left: 30px;
    padding-right: 30px;
}
.sectionGrid div.gridUno h3{
    font-weight: bold;
    font-style: italic;
    font-size: 1.1rem;
}
.sectionGrid div.gridUno p{
    color: gray;
}
/*SECTIONTRESONE sectionGrid -- sectionGrid input*/
.sectionGrid div button{
    position: absolute;
    top: 6px;
    left: 95px;
    height: 25px;
    background-color: #FADBB6;
    border: 1px solid #E1D2B5;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}
.sectionGrid div button:hover{
    background-color: #DEAB76;
    border-radius: 10px 10px 10px 10px;
    transform: scale(1.14,1.14);
}
button[type=button]{
    font-weight: bold;
}
