<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/imagenes/icons8-pizza-100.ico" />
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link rel="stylesheet" href="/public/css/pedidos.css" />
    <link rel="stylesheet" href="/public/css/mediaQuery/mediaQueryPedidos.css" />
    <title>Pizza Italiana</title>
  </head>

  <body>
    <div id="content">
      <!--HEADER-->
      <header>
        <div id="titulo">
          <div>
            <h1>Pizza Italiana</h1>
          </div>
        </div>
        <div id="menu">
          <nav>
            <ul>
              <li class="liUno liItem" id="menuDos">
                <a href="/views/index.html">Menu</a>
              </li>
              <li class="liDos liItem" id="pedidos">
                <a href="#">Mis pedidos</a>
              </li>
              <li class="liUno liItem" id="locales"><a href="/views/locales.html">Locales</a></li>
              <li class="liDos liItem" id="usuarios">
                <a href="/views/ingresar.html">Ingresar</a>
              </li>
              <li class="liTres">
                <a href="https://www.facebook.com" target="_blank"
                  ><img
                    src="/public/imagenes/menu/icons8-facebook.svg"
                    alt="Facebook"
                /></a>
              </li>
              <li class="liTres">
                <a href="https://www.instagram.com" target="_blank"
                  ><img
                    src="/public/imagenes/menu/icons8-instagram.svg"
                    alt="Instagram"
                /></a>
              </li>
              <li class="liTres">
                <a href="https://www.twitter.com" target="_blank"
                  ><img
                    src="/public/imagenes/menu/icons8-twitter.svg"
                    alt="Twitter"
                /></a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!--MAIN-->
      <main>
        <!--SECTION-01-->
        <section id="imagen">
            <div id="fondoUno"></div>
            <div id="fondoDos"></div>
            <div id="fondoTres"></div>
        </section>
        <!--SECTION-02-->
        <section id="sectionDos">
          <nav>
            <ul>
              <li id="promociones"><a href="/views/promociones.html#sectionDos">Promociones</a></li>
              <li>
                <a href="/views/paginaPrincipal.html#sectionDos">Pizzas</a>
              </li>
              <li id="acompanamiento">
                <a href="/views/acompanamiento.html#sectionDos"
                  >Acompañamientos</a
                >
              </li>
              <li><a href="/views/postres.html#sectionDos">Postres</a></li>
              <li><a href="/views/extras.html#sectionDos">Extras</a></li>
              <li><a href="/views/bebidas.html#sectionDos">Bebidas</a></li>
            </ul>
          </nav>
        </section>
        <!--SECTION-03-->
        <section id="sectionTres">
            <div id="tituloIngresar">
                <h3>Restaurante Orden</h3>
                <h3>Restaurante Orden</h3>
                <div id="animation">
                    <img src="#" alt="Imagenes" id="imagenes">
                </div>
                <div id="animationDos">
                </div>
            </div>
            <div id="boxDos">
                <div class="tituloDos">
                    <h2>Tu orden</h2>
                    <hr>
                </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>X</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                           
                        </tbody>
                    </table>
                    <div id="total">
                        <div>
                          <h2 class="itemTotal">Total:</h2>
                        </div>
                        <button id="comprar">Comprar</button>
                    </div>
            </div>
        </section>
      </main>
      <!--FOOTER-->
      <footer>
        <div>
          <h3>Gana descuentos</h3>
          <nav id="juego">
            <a href="/views/juegos.html"
              ><h4><span>GAME CHEF</span></h4></a
            >
          </nav>
        </div>
        <div>
          <h3>Pizzas italiana</h3>
          <br />
          <p id="parrafoItaliana">
            Proident anim reprehenderit ullamco excepteur laborum ut. Esse enim
            minim dolore laboris sunt officia dolore dolore proident. Sint duis
            ad incididunt consequat cillum veniam commodo adipisicing. Do magna
            occaecat adipisicing ut sit qui enim sit. Excepteur officia in eu
            irure cupidatat tempor magna dolor exercitation nulla adipisicing.
            Ut id tempor velit occaecat excepteur sint. Officia excepteur aute
            eiusmod voluptate sit commodo sint eu adipisicing incididunt elit
            eiusmod excepteur. Eiusmod quis nulla ullamco id reprehenderit irure
            irure culpa magna tempor est in. Sit nostrud qui magna nisi anim.
          </p>
        </div>
        <div>
          <h3>Contactenos</h3>
          <p id="footerParrafo">
            Pizzas italianas S.A.S Colombia. <br />
            Nit-900 414 301 -4 <br />
            Calle 70a # 94-67 <br />
            Bogota, Colombia <br />
            Llamanos-3134173095 <br />
            Email-PizzasItalianas@gmail.com
          </p>
        </div>
        <div>
          <h3 id="footerLegal">Legal</h3>
          <nav>
            <ul>
              <li><a href="/public/pdf/TerminosYCondiciones.pdf" target="_blank">Terminos y condiciones</a></li>
              <li><a href="/public/pdf/PoliticasDePrivacidad.pdf" target="_blank">Politicas de privacidad</a></li>
              <li>
                <a href="https://icons8.com/icon/DZe3wFKTc8IK/búsqueda"
                  >Búsqueda icon by Icons8</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div id="footerParrafoUno">
          <hr />
          <p>
            Designed and developed by <span> D-UNA</span> e-Commerce © 2022
            D-UNA. Derechos reservados.
          </p>
        </div>
      </footer>
    </div>
    <script src="/public/java/principal.js"></script>
    <script src="/public/java/agregarProducto.js"></script>
  </body>
</html>
