@import url(/public/css/mediaQuery/mediaQueryGeneral.css);

/*--------------------------------------MEDIA QUERY------------------------------------*/
/*Mediaquery max-width:1286*/
@media all and (max-width:1286px){
    #fondoUno{background-position: 0px -220px;}
    #fondoDos{background-position: 0px -220px;}
    #fondoTres{background-position: 0px -220px;}
     /*main-section-03*/
    section#sectionTres div h3{font-size: 4rem; left: 540px;}
    div#animationDos{ width:7%; }
    div#animation{ left: 180px; width: 7%;}
}
/*Mediaquery max-width:1150*/
@media all and (max-width:1150px){
     /*main-section-03*/
     main{height: 1080px;}
     section#sectionTres div h3{font-size: 3.5rem; left: 500px;}
    div#animationDos{ width:7%;right: 180px }
    div#animation{ left: 150px; width: 7%;}
}
/*Mediaquery max-width:1000*/
@media all and (max-width:1050px){
     /*main-section-03*/
     #fondoDos{background-position: 0px -200px;}
     #fondoTres{background-position: 0px -130px;}
     section#sectionTres div h3{font-size: 3rem; left: 440px;}
     div#animationDos{ width:7%; height: 65px; right: 100px; top: 25px;}
     div#animation{ top: 25px; left: 110px; width: 7%; height: 65px;}
}
/*Mediaquery max-width:1000*/
@media all and (max-width:950px){
    /*main-section-03*/
    #fondoDos{background-position: 0px -200px;}
    #fondoTres{background-position: 0px -130px;}
    section#sectionTres div h3{font-size: 3rem; left: 380px;}
    div#animationDos{ width:6%; height: 45px; right: 100px; top: 25px;}
    div#animation{ top: 25px; left: 110px; width: 6%; height: 45px;}
}
/*Mediaquery max-width:900*/
@media all and (max-width:850px){
    #fondoUno{background-position: 0px -150px;}
    #fondoDos{background-position: 0px -110px;}
    #fondoTres{background-position: 0px -80px;}
    section#sectionTres div h3{font-size: 2.5rem; left: 370px;}
}
/*Mediaquery max-width:800*/
@media all and (max-width:800px){
    /*main*/
    main{height:890px ;}
    section#sectionTres{height: 60vh;}
    section#sectionTres div{flex: 1 1 100%;}
    #fondoUno{background-position: 0px -50px;}
    #fondoDos{background-position: 0px -10px;}
    #fondoTres{background-position: 0px 0px;}
}
@media all and (max-width:750px){
    /*main*/
    section#sectionTres div h3{font-size: 2rem; left: 300px;}
}
/*Mediaquery max-width:600*/
@media all and (max-width:600px){
    #fondoUno{background-position: 0px 0px;}
    #fondoDos{background-position: 0px 0px;}
    section#sectionTres div h3{font-size: 2rem; left: 280px;}
    div#animationDos{ width:5%; height: 45px; right: 60px; top: 25px;background-position: 0px 0px;}
    div#animation{ top: 25px; left: 60px; width: 5%; height: 40px; }
}